.jumbotron {
    background-color: white;
  }

  img {
      margin:auto;
  }

  body {
      background-color: lightblue;
      /* font-family: 'Montserrat', sans-serif; */
  }

  h1 {
    font-family: 'Playfair Display', serif;
  }

  #roundCounter, #nameForm, #chatForm, #greeting {
      margin: auto;
  }

  #nameP2, #nameP1 {
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    text-decoration: underline;
  }


  #chatArea {
      height: 250px;
      overflow: auto;
      
  }

  #chatTitle {
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    
  }